# Database
DATABASE_URL=postgresql://localhost:5432/vytal

# Auth
BETTER_AUTH_SECRET=generate-with-node-crypto
BETTER_AUTH_URL=http://localhost:3000

# STORAGE
S3_BUCKET=
S3_ENDPOINT=
S3_REGION=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

# EMAIL
BREVO_API_KEY=
EMAIL_FROM=Vytal Fit <vytal.fit.eu@gmail.com>
EMAIL_PROVIDER=brevo
EMAIL_REPLY_TO=no-reply@vytal.fit